*{
    margin: 0px;
    padding: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;}

h3, h4, h5, h6 {
    font-size: 16px;
    font-weight: normal;
color: white;}

    /* END OF RESET*/
    
img {width: 700px;
margin: 10px 10px 10px 10px;
align-content: top ;
}

h1 { 
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  text-align: center;
  color:tomato;
  font-variation-settings:
    "YEAR" 1979;}

h2{color: white;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
text-align: center;}

h3{color:tomato;
font-size: 30px;
font-weight: normal;
font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
margin: 10px 10px 10px 10px }

li{ font-family:'Courier New', Courier, monospace;
color: white;
font-size: normal;}

p{font-family: 'Courier New', Courier, monospace;
color: white;
font-size: 20px;
font-weight:bold;}

a{color: white; font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  font-style: normal;}

a:hover{color: white; background-color: tomato;
    font-family:'Courier New', Courier, monospace;
  font-weight: normal;
  font-style: normal;}

section{
    display: flex;
    text-wrap: wrap;
    align-items: stretch;
    margin: 10px 10px 10px 125px;}

article{margin: 20px 20px 20px 20px;}

ul{margin: 10px 10px 10px 10px}

hr{color:white;}









